@using ArsAfiliados.Dtos;

@model MostrarAfiliadosDto

@{
    ViewBag.Title = "actualizando afiliado";


    List<SelectListItem> selectListItemsEstados = new List<SelectListItem>();
    List<SelectListItem> selectListItemsPlans = new List<SelectListItem>();

    selectListItemsEstados.AddRange(new SelectListItem[] { new SelectListItem { Text = "Activo", Value = "1" }, new SelectListItem { Text = "Activo", Value = "2" } });

    foreach (MostrarPlanesDto planes in ViewBag.planes)
    {
        selectListItemsPlans.Add(new SelectListItem { Text = planes.Plan, Value = planes.Id.ToString() });
    }

}

<div style="width:100%; margin-top:20px;">

    <h2 style="text-align:center;">ACTUALIZANDO AFILIADO</h2>

</div>


@Html.ActionLink("Volver", "Mostrar", "Afiliados", null, new
{
    @class = "btn btn-primary"
})

<br />
<hr />

<div style="padding:10px; border: 1px solid black; border-radius:6px 3px;">

    @using (Html.BeginForm("Actualizar", "Afiliados", new { id = Model.Id }, FormMethod.Post, true, new { }))
    {
        @Html.AntiForgeryToken();

        <div>
            @Html.LabelFor(Model => Model.Nombre)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Nombre)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Apellido)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Apellido)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Fecha)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Fecha)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Nacimiento)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Nacimiento)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Sexo)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Sexo)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Cedula)
        </div>
        <div>
            @Html.EditorFor(Model => Model.Cedula)
        </div>

        <div>
            @Html.LabelFor(Model => Model.NumeroSeguroSocial)
        </div>
        <div>
            @Html.EditorFor(Model => Model.NumeroSeguroSocial)
        </div>

        <div>
            @Html.LabelFor(Model => Model.FechaRegistro)
        </div>
        <div>
            @Html.EditorFor(Model => Model.FechaRegistro)
        </div>

        <div>
            @Html.LabelFor(Model => Model.MontoConsumido)
        </div>
        <div>
            @Html.EditorFor(Model => Model.MontoConsumido)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Estatus)
        </div>
        <div>
            @Html.DropDownListFor(Model => Model.EstatusId, selectListItemsEstados, "EstatusId")
        </div>

        <div>
            @Html.LabelFor(Model => Model.Plan)
        </div>
        <div>
            @Html.DropDownListFor(Model => Model.PlanId, selectListItemsPlans, "PlanId")
        </div>

        <br />

        <div>
            <input type="submit" value="Actualizar afiliado" style="color: black;" class="btn btn-success" />
        </div>

    }

</div>


<br />
<br />
