@model List<ArsAfiliados.Dtos.MostrarAfiliadosDto>

@{
    ViewBag.Title = "Listado de afiliados";
}


<div style="width:100%; margin-top:20px;">

    <h2 style="text-align:center;">AFILIADOS</h2>

    @Html.ActionLink("Volver", "Index", "Home", null, new
    {
        @class = "btn btn-primary"
    })

</div>

<br />
<hr />

@using (Html.BeginForm())
{
    @Html.Editor("buscar")

    <input type="submit" value="Buscar" class="btn btn-primary" />
}


<br />
<hr />

<table class="table">

    <thead>

        <tr>

            <td>@Html.Label("ID")</td>
            <td>@Html.Label("NOMBRE")</td>
            <td>@Html.Label("APELLIDO")</td>
            <td>@Html.Label("FECHA DE NACIMIENDO")</td>
            <td>@Html.Label("NACIMIENTO")</td>
            <td>@Html.Label("SEXO")</td>
            <td>@Html.Label("CEDULA")</td>
            <td>@Html.Label("NUMERO SEGURO SOCIAL")</td>
            <td>@Html.Label("FECHA DE REGISTRO")</td>
            <td>@Html.Label("ESTATUS")</td>
            <td>@Html.Label("PLAN")</td>
            <td>@Html.Label("MONTO DE COBERTURA")</td>
            <td>@Html.Label("MONTO CONSUMIDO")</td>
            <td>@Html.Label("MONTO RESTANTE")</td>

        </tr>

    </thead>

    <tbody>


        @foreach (ArsAfiliados.Dtos.MostrarAfiliadosDto afiliado in Model)
        {
            <tr>

                @{ decimal MR = afiliado.MontoCobertura - afiliado.MontoConsumido;}

                <td> @afiliado.Id </td>
                <td> @afiliado.Nombre </td>
                <td> @afiliado.Apellido </td>
                <td> @afiliado.Fecha</td>
                <td> @afiliado.Nacimiento </td>
                <td> @afiliado.Sexo </td>
                <td> @afiliado.Cedula</td>
                <td> @afiliado.NumeroSeguroSocial </td>
                <td> @afiliado.FechaRegistro </td>
                <td> @afiliado.Estatus </td>
                <td> @afiliado.Plan </td>
                <td> @afiliado.MontoCobertura</td>
                <td> @afiliado.MontoConsumido </td>
                <td> @MR </td>

                <td>

                    @Html.ActionLink("Actualizar afiliado", "Actualizar", new { cedula = afiliado.Cedula }, new { @class = "btn btn-success btn-lg" })

                    @Html.ActionLink("Activar/Inactivar", "Inactivar", new { cedula = afiliado.Cedula, inactivar = (afiliado.EstatusId == 1 ? 2 : 1) }, new { @class = "btn btn-success btn-lg" })

                </td>

            </tr>
        }

    </tbody>

</table>

<br />
<br />